<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="POST"  action="/new">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <p></p>
        <label for="message">Message:</label>
        <input type="text" name="message" id="message">
        <p></p>
        <button type="submit">Submit</button>
    </form>
  </body>
</html>
